/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

div {
  border: 5px solid black;
  padding: 40px;
  width: 800px;
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 38px;
  position: relative;
}

.parole {
  color: grey;
}
.parole i {
  position: absolute;
  transform: translateX(8px);
}

.parole i:first-child {
  opacity: 0;
  animation: fade 9s infinite;
}
.parole i:nth-child(2) {
  opacity: 0;
  animation: fade 9s 3s infinite;
}
.parole i:nth-child(3) {
  opacity: 0;
  animation: fade 9s 6s infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}
